.product-search {
    width: 30%;
    position: relative;
}

.product-search input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    border-left: 1px solid rgb(220, 220, 220);
    padding-left: calc(70 * var(--res));
    font-size: clamp(0.8rem, 2vw, 1.1rem);
}

.product-search .search-icon {
    color: rgb(146, 146, 144);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(20 * var(--res));
    width: calc(30 * var(--res));
    transition: .3s;
}

.product-search input:focus + .search-icon {
    color: #222;
}

@media screen and (max-width: 1080px) {
    .product-search {
        width: 100%;
        padding: 15px 0;
        border-top: 1px solid rgb(220, 220, 220);
    }
}