.link-product-card {
    text-decoration: none;
}

.product-card {
    position: relative;
    width: 100%;
    max-width: 250px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card .product-image {
    padding: calc(20 * var(--res));
    text-align: center;
}

.product-card .product-image img {
    width: calc(400 * var(--res));
    height: calc(400 * var(--res));
    object-fit: contain;
}

.product-card .product-name,
.product-card .product-price {
    padding: calc(15 * var(--res));
    padding-top: 0;
    color: #222;
    font-size: clamp(0.8rem, 2vw, 1.1rem);
}

.product-card .product-price {
    font-weight: 500;
}

.product-card .product-add {
    width: 100%;
    background-color: #30967E;
    border: none;
    color: #FFF;
    padding: calc(15 * var(--res));
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    font-size: clamp(0.8rem, 2vw, 1.1rem);
    transition: .3s;
}

.product-card .product-add:hover {
    background-color: #3BB296;
}

.product-card .product-promo {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: clamp(0.6rem, 2vw, 1rem);
    background-color: rgb(255, 59, 59);
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}


.product-card .product-price .promo {
    text-decoration: line-through;
}

.product-card .product-price .promo-value {
    padding-left: 5px;
    color:rgb(255, 59, 59);
}