.product-page-form {
    max-width: 1300px;
    margin: 20px 3vw;
}

.product-form {
    display: flex;
    flex-wrap: wrap;
}

.product-form .column:first-child {
    margin-right: 20px;
}

.product-form .column {
    width: calc(50% - 20px);
}

.form-product-title {
    margin-bottom: 20px;
}

.product-form .column > div {
    margin-bottom: 20px;
}

.product-form input,
.product-form select,
.product-form textarea {
    width: 100%;
    min-width: 200px;
    max-width: 400px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 3px;
    font-size: clamp(0.7rem, 2vw, 1rem);
    padding: 5px;
}

.product-form input[type="radio"] {
    width: revert;
    min-width: revert;
    max-width: revert;
    height: revert;
}

.product-form input[type="radio"] + label {
    display: inline-block;
    padding-left: 5px;
}

.product-form #promo-no {
    margin-bottom: 27.5px;
}

.product-form label {
    display: block;
    margin-bottom: 5px;
    font-size: clamp(0.7rem, 2vw, 1rem);
}

.product-form p {
    margin-bottom: 5px;
}

.product-form textarea {
    height: 100px;
}

.product-form .btn-form-product-container {
    width: 100%;
}

.product-form .btn-form-product {
    width: 100%;
    max-width: 200px;
    background-color: #30967E;
    border: none;
    color: #FFF;
    padding: calc(10 * var(--res));
    cursor: pointer;
    font-size: clamp(0.8rem, 2vw, 1rem);
    border-radius: 5px;
    transition: .3s;
}

.product-form .btn-form-product:hover {
    background-color: #3BB296;
}

.product-promo div div {
    display: inline-block;
    margin-right: 20px;
    padding: 5px;
}

.product-page-form .modal {
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 350px;
    height: 100px;
    background-color: #F7F6F1;
    border-radius: 5px;
    border: 2px solid #30967E;
    padding: 20px 2vw calc(20px + calc(40 * var(--res))) 2vw;
}

.product-page-form .modal-content {
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-weight: 500;
    margin-top: calc(10px + calc(40 * var(--res)));
}

.product-page-form .modal-icon {
    width: calc(75 * var(--res));
    height: auto;
    margin-top: calc(40 * var(--res));
}

.product-form .error {
    width: fit-content;
    font-size: clamp(0.6rem, 1vw, 0.9rem);
    color: rgb(220, 53, 69);
    margin-top: 5px;
}