.banner-products {
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: url('./logo-blanc.svg'), radial-gradient(100% 100% at 50% 50%, rgba(10, 10, 10, 0.6) 0%, rgb(15, 63, 111) 100%), url('./banner.jpg');
    background-repeat: no-repeat, no-repeat;
    background-size: 30%, auto, cover;
    background-position: 50% 25%, 100%, 40% 35%;
}

.banner-products button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    padding: .5em 1.5em;
    border-radius: 5px;
    border: 2px solid #FFF;
    cursor: pointer;
    transition: .5s;
    background-color: transparent;
    color: #FFF;
}

.banner-products button:hover {
    background-color: #30967E;
    border-color: #30967E;
}

@media screen and (max-width: 1024px) {
    .banner-products {
        background-size: 40%, auto, cover;
        background-position: 50% 25%, 100%, 40% 35%;
    }
}

@media screen and (max-width: 768px) {
    .banner-products {
        background-size: 70%, auto, cover;
        background-position: 55% 40%, 100%, 40% 35%;
    }
    .banner-products button {
        width: 60vw;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        padding: .5em 1.5em;
        border-radius: 5px;
        border: 2px solid #FFF;
        cursor: pointer;
        transition: .5s;
        background-color: transparent;
        color: #FFF;
    }
}