.banner-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 115px);
    border-bottom: 1px solid rgb(220, 220, 220);
    background-image: url("./ellipse.svg"), url("./player-bad.png");
    background-repeat: no-repeat, no-repeat;
    background-size: calc(550 * var(--res)), contain;
    background-position: 0% 100%, 90% 0%;
    margin-top: 20px;
}

.banner-products img {
    margin-top: 20px;
    width: calc(500 * var(--res));
    text-align: center;
    color: #30967E;
}

.banner-products button {
    cursor: pointer;
    font-family: 'Philosopher', sans-serif;
    font-size: clamp(1rem, 2vw, 2rem);
    background-color: transparent;
    border: 3px solid #30967E;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 30vh;
    color: #30967E;
    transition: .3s;
}

.banner-products button:hover {
    background-color: #30967E;
    color: #FFF;
}

.banner-products .promo {
    position: absolute;
    top: 30vh;
    left: 10vw;
    background-color: rgb(255, 59, 59);
    color: #FFF;
    font-family: 'Philosopher', sans-serif;
    font-size: clamp(1rem, 3vw, 4rem);
    width: calc(400 * var(--res));
    height: calc(400 * var(--res));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 5px solid #F7F6F1;
    border-radius: calc(200 * var(--res));
}

@media screen and (max-width: 1200px) {
    .banner-products .promo{
        display: none;
        align-items: flex-start;
    }
    .banner-products {
        background-image: url("./player-bad.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 90% 0%;
        align-items: flex-start;
        padding-left: 10vw;
    }
}

@media screen and (max-width: 800px) {
    .banner-products {
        display: none;
    }
}