.header {
    position: fixed;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(220, 220, 220);
    padding: 15px 3vw;
    background-color: #F7F6F1;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
}

.navbar-menu {
    display: flex;
    align-items: center;
}

.navbar-menu-item a {
    text-decoration: none;
    font-size: clamp(0.8rem, 2vw, 1.25rem);
    color: #222;
    transition: .3s;
}

.navbar-menu-item a:hover {
    color: #30967E;
}

.navbar-menu-item .active-link {
    color: #30967E;
}

.navbar-menu-item {
    margin-right: calc(60 * var(--res));
}

.navbar-menu-item:last-child {
    margin-right: 0;
}

.navbar-menu-item .active-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 1.5px;
    background: #30967E;
    transform: none;
}

.navbar-menu-item a::after {
    content: '';
    display: block;
    width: 100%;
    height: 1.5px;
    background: #30967E;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
}

.navbar-menu-item a:hover::after {
    transform: scaleX(1);
}

.navbar-menu-item-cart a {
    position: relative;
    color: #222;
}

.badge-cart {
    position: absolute;
    top: -17.5px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #30967E;
    color: #FFF;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    line-height: 0;
    font-size: clamp(10px, 1vw, 15px);
}